/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  /* background: red; */
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #fff8f8;
    border-right: 1px solid #eee;
  }
}

.radio-space{
  margin-left:20px;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/* navbar important change color */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #d71034 !important;
}

.navbar-inverse {
  background-color: #d71149 !important;
  border-color:#d71034 !important;
  color: #fff !important;
  border-top: 6px solid #b93377 !important;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff !important;
}
.navbar-brand{
  padding:2px !important;
  margin:2px !important;
}

.img-logo{
  width:100px; 
  height:45px;
}

/* border title */
.border-title{
  border-bottom:2px solid #d71149;
  margin-bottom: 10px !important;
}

/* header */
.referensi{
  color:#b81644;
}

.logo{
  color:#fff; font-weight:bold; margin: 2px 0 !important;
}

.inline-style{
  line-height: 1px;
}

/* panel-header page notification */

.custom-header{
  background-color: #d71034;
  color:#FFF;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
}

.custom-body{
  padding:50px;
  text-align: center;
}